<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "stylesheet" href = "static/style.css">
    <style>
       #center { text-align: center; }
       body {
            background: url(http://www.fonstola.ru/download.php?file=201111/2560x1440/fonstola.ru-49950.jpg);
       }
    </style>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="static/all-seeing-eye.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Ramp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/main}">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:attr="href=@{/profile/{id}(id=${id})}">Profile</a>
                <!--th:attr="href=@{/profile/{id}(id=${id})}"-->
                <!--th:attr="href=@{/profile/{id}(id=${post.authorName.id})}"-->
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile/{id}(id=${id})/settings}">Settings</a>
            </li>
        </ul>
        <div class="navbar-text mr-3">
            <div sec:authorize="isAuthenticated()">
                <h4 th:text="${username}"></h4>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0 mr-3" method="get" th:action="@{/main}">
            <input class="form-control mr-sm-2" type="text" name="filter" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by post</button>
        </form>
        <div>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="media my-3">
        <div th:if="${userChannel.image}">
            <img th:attr="src=@{/img/{path}(path=${user.image})}" class="mr-3" alt="...">
        </div>
        <div th:unless="${userChannel.image}">
            <img src="https://yt3.ggpht.com/a/AGF-l7_Op4hulT19L8BU5w6XFGgsMHzCccGgzg2o=s900-c-k-c0xffffffff-no-rj-mo" width="200" height="200" class="mr-3" alt="...">
        </div>
        <div class="media-body">
            <h5 class="mt-0" th:text="${userChannel.username}"></h5>
            <div th:if="${userChannel.status}">
                <p th:text="${userChannel.status}"></p>
            </div>
            <div th:if="${userChannel.birthday}">
                <p th:text="${userChannel.birthday}"></p>
            </div>
        </div>
    </div>
    <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Update User's Data
    </a>
    <div class="collapse" id="collapseExample">
        <div class="form-group mt-3">
            <form method="post" th:action="@{'/profile/' + ${userChannel.id} + '/settings'}" enctype="multipart/form-data">
                <!--<div class="form-group">
                    <label>$updateUsername</label>
                    <div class="col-sm-5">
                        <input type="text" name="username" class="form-control"/>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
                </div>-->
                <div class="form-group">
                    <label>$updateStatus</label>
                    <div class="col-sm-5">
                        <input type="text" name="status" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>$updateBirthday</label>
                    <div class="col-sm-5">
                        <input type="text" name="birthday" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>$updateAvatar</label>
                    <div class="col-sm-5 custom-file">
                        <input type="file" name="file" class="form-control" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file...</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ml-2">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-3"><h3>Data</h3></div>
    <script src="https://kit.fontawesome.com/2040e1edc3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>
</body>
</html>